/*Sample Image section*/
#container {
    overflow: hidden;
}

#database_head {
	margin: 15px;
	margin-top: 80px;
}

#database_paragraph {
	font-family: Raleway, sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
}

/*Photo Banner*/
.photobanner {
    height: 400px;
    width: 2100px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    right: 0px;
    transition-property: right;
    transition-duration: 2s;
}
 
.photobanner:hover {
	position: relative;
	right: 300px;
}

.photobanner img:hover {
    transform: scale(1.08);
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

/*Output Section*/
#output_image {
	/*background-color: */
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
    /*border: 1px solid #000000;*/
} 

#output_image img {
    display: inline;
    margin: 15px;
    /*border: 1px solid #000000;*/
    border-radius: 5px;
}

